/**
* The names of the class not follow the Udacity Style Guides
*     currentlyReading --> currently-reading
* It's because the classnames corresponds directly to a property of the book
* gotten from BooksAPI
*     book.shelf -> currentlyReading
*     book.shelf -> wantToRead
*     book.shelf -> read
* In search, if a book has one of this property then the div container get this class
* to fill the background
*/

.currentlyReading {
  background: red;
  background: -webkit-radial-gradient(circle, #f11, white); /* Safari */
  background: -o-radial-gradient(circle, #f11, white); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #f11, white); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #f11, white); /* Standard syntax */
  border-radius: 5px;
}
.wantToRead {
  background: green;
  background: -webkit-radial-gradient(circle, #1f1, white); /* Safari */
  background: -o-radial-gradient(circle, #1f1, white); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #1f1, white); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #1f1, white); /* Standard syntax */
  border-radius: 5px;
}
.read {
  background: blue;
  background: -webkit-radial-gradient(circle, #11f, white); /* Safari */
  background: -o-radial-gradient(circle, #11f, white); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #11f, white); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #11f, white); /* Standard syntax */
  border-radius: 5px;
}

.legend {
  width: 30%;
  text-align: center;
}
